[submodule "Brynhild/vendor/GLFW"]
	path = Brynhild/vendor/GLFW
	url = https://github.com/MORCHIK1/glfw
[submodule "Brynhild/vendor/glm"]
	path = Brynhild/vendor/glm
	url = https://github.com/g-truc/glm
